<!DOCTYPE html>
<html lang="<%= locale.lang %>" dir="<%= locale.dir %>">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Axios</title>
    <link rel="stylesheet" href="/style/sponsors.css" />
    <link rel="stylesheet" href="/style/home.css" />
    <style>
      * {
        <%= locale.fontSans ? 'font-family: ' + locale.fontSans + ';' : '' %>
      }
      .buttons{
        display: flex;
      }
    </style>
    <link
      rel="preload"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?family=<%= locale.fontSans || 'DM+Sans' %>:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
    />
    <link
      rel="preload"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
    />
    <noscript>
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=<%= locale.fontSans || 'DM+Sans' %>:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
      />
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
      />
    </noscript>
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
    <script src="https://cdn.usefathom.com/script.js" data-site="PHYVDASO" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-auto-scroll@0.5.3/dist/js/splide-extension-auto-scroll.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
  </head>
  <body>
    <header>
      <img src="/assets/logo.svg" alt="" />
      <a href="<%= locale.prefix %>docs/intro" class="button primary"
        ><%= locale.t['Get Started'] || 'Get Started' %></a
      >
    </header>
    <main>
      <section id="hero">
        <div class="content">
          <h1><%= locale.p.headline %></h1>
          <p><%= locale.p.subhead %></p>
          <div class="buttons">
            <a href="<%= locale.prefix %>docs/intro" class="button primary">
              <%= locale.t['Get Started'] || 'Get Started' %>
            </a>
            <a href="https://github.com/axios/axios" class="button" target="_blank">
              <%= locale.t['View on GitHub'] || 'View on GitHub' %>
            </a>
          </div>
        </div>
        <div class="code-preview">
          <pre></pre>
        </div>

      </section>
      <section class="sponsors_container" aria-label="Axios sponsors">
        <div>
        <a class="link-sponsors" href="/docs/sponsor"><h2><%= locale.t['Sponsors'] || 'Sponsors' %></h2></a>
        <span class="btn-container">
            <a class="btn tip" href="https://opencollective.com/axios/contribute" target="_blank" <% if(locale.p['sponsors']){%>data-tippy-content="<%= locale.p['sponsors'] %>"<% } %>>
              <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
              >
                <path
                        stroke="#000000"
                        stroke-opacity="30%"
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M12.0122 5.57169L10.9252 4.48469C8.77734 2.33681 5.29493 2.33681 3.14705 4.48469C0.999162 6.63258 0.999162 10.115 3.14705 12.2629L11.9859 21.1017L11.9877 21.0999L12.014 21.1262L20.8528 12.2874C23.0007 10.1395 23.0007 6.65711 20.8528 4.50923C18.705 2.36134 15.2226 2.36134 13.0747 4.50923L12.0122 5.57169ZM11.9877 18.2715L16.9239 13.3352L18.3747 11.9342L18.3762 11.9356L19.4386 10.8732C20.8055 9.50635 20.8055 7.29028 19.4386 5.92344C18.0718 4.55661 15.8557 4.55661 14.4889 5.92344L12.0133 8.39904L12.006 8.3918L12.005 8.39287L9.51101 5.89891C8.14417 4.53207 5.92809 4.53207 4.56126 5.89891C3.19442 7.26574 3.19442 9.48182 4.56126 10.8487L7.10068 13.3881L7.10248 13.3863L11.9877 18.2715Z"
                        fill="white"
                />
              </svg>
              <span>Become a sponsor</span>
            </a>
          </span>
        </div>
        <section class="splide" aria-label="Axios sponsors" oncontextmenu="return false;">
          <div class="splide__track">
            <ul class="splide__list">
              <% const count = config.custom.sponsors.filter(({benefits}) => benefits.showAtPages).length %>

              <% if (count) { %>
                <% config.custom.sponsors && config.custom.sponsors.forEach(sponsor => { %>
                  <% if(sponsor.isActive && !sponsor.hide && sponsor.benefits.showAtSponsorList ){ %>
                    <li class="splide__slide sponsor-card <%= sponsor.visual.className || "" %> opacity_<%= Math.round(4 * sponsor.visual.opacity) * 25 %>" data-tier="<%=sponsor.tierId%>" data-is-wide="<%= !!sponsor.isWideImage %>" data-is-active="<%= sponsor.isActive ? "yes" : "no" %>"  data-image-type="<%= sponsor.imageType || '' %>" <% if(sponsor.tooltip){ %>data-tippy-content="<%= sponsor.tooltip %>"<% } %>>
                      <a href="<%= sponsor.targetLink || '#' %>" target="_blank" >
                        <% if(sponsor.image){ %>
                          <div>
                            <% if(sponsor.benefits.crown) { %><div class="chevron"><span class="sponsor_chevron_crown"></span></div><% } else if (sponsor.isNew) { %>
                            <div class="chevron"><span class="sponsor_chevron_new"></span></div><% } %>
                            <img src="<%= sponsor.image %>" alt="<%= sponsor.alt %>"/>
                          </div><% } %>
                        <% if(sponsor.showCaption !== false){ %><span class="caption"><%= sponsor.displayName %></span><% } %>
                      </a>
                    </li>
                  <% } %>
                <% }) %>
              <% } else { %>
                <li class="splide__slide sponsor-card become_sponsor" <% if(locale.p['sponsors']){%>data-tippy-content="<%= locale.p['sponsors'] %>"<% } %>>
                  <div><a class="button" href="https://opencollective.com/axios/contribute" target="_blank"><%= locale.t['Become a sponsor'] || 'Become a sponsor' %></a></div>
                </li>
              <% } %>
            </ul>
          </div>
        </section>
      </section>
    </main>
    <footer>
      <table>
        <tr>
          <th><%= locale.t['Languages'] || 'Languages' %></th>
          <th><%= locale.t['Open Source'] || 'Open Source' %></th>
          <th><%= locale.t['Contribute'] || 'Contribute' %></th>
        </tr>
        <tr>
          <td><%- config.custom.langs[0] ? `<a href="${config.custom.langs[0].prefix}">${config.custom.langs[0].config.display}</a>` : undefined %></td>
          <td><a href="https://github.com/axios/axios" target="_blank"><%= locale.t['Source on GitHub'] || 'Source on GitHub' %></a></td>
          <td><a href="https://github.com/axios/axios" target="_blank"><%= locale.t['Fork on GitHub'] || 'Fork on GitHub' %></a></td>
        </tr>
        <tr>
          <td><%- config.custom.langs[1] ? `<a href="${config.custom.langs[1].prefix}">${config.custom.langs[1].config.display}</a>` : undefined%></td>
          <td><a href="https://github.com/axios/axios/issues" target="_blank"><%= locale.t['Issues'] || 'Issues' %></a></td>
          <td>
            <a href="https://github.com/axios/axios-docs" target="_blank"><%= locale.t['Fork the Website'] || 'Fork the Website' %></a>
          </td>
        </tr>
        <tr>
          <td><%- config.custom.langs[2] ? `<a href="${config.custom.langs[2].prefix}">${config.custom.langs[2].config.display}</a>` : undefined%></td>
          <td>
            <a href="https://github.com/axios/axios/pulls" target="_blank"><%= locale.t['Pull Requests'] || 'Pull Requests' %></a>
          </td>
          <td>
            <a href="https://github.com/axios/axios/issues/new/choose" target="_blank"
              ><%= locale.t['Create an Issue'] || 'Create an Issue' %></a
            >
          </td>
        </tr>
        <tr>
          <td><%- config.custom.langs[3] ? `<a href="${config.custom.langs[3].prefix}">${config.custom.langs[3].config.display}</a>` : undefined%></td>
          <td>
            <a
              href="https://github.com/axios/axios/blob/v1.x/CODE_OF_CONDUCT.md" target="_blank"
              ><%= locale.t['Code of Conduct'] || 'Code of Conduct' %></a
            >
          </td>
          <td>
            <a href="https://opencollective.com/axios/contribute" target="_blank"
            ><%= locale.t['Become a sponsor'] || 'Become a sponsor' %></a
            >
          </td>
        </tr>
        <% config.custom.langs.slice(4).forEach(lang => { %>
          <tr>
            <td>
              <a href="<%= lang.prefix %>"><%= lang.config.display %></a>
            </td>
            <td></td>
            <td></td>
          </tr>
        <% }) %>
      </table>
      <hr class="light-hr">
      <div class="row">
        <span class="copyright-notice">
          <%= locale.t['Website Copy Right Footer'] || 'This Website: Copyright © 2020-present John Jakob "Jake" Sarjeant. Used by permission.' %>
        </span>
        <a href="https://github.com/axios/axios-docs" target="_blank">
          <%= locale.t['View On Github'] || 'View this site on GitHub' %>
        </a>
      </div>
      <div class="row">
        <span class="copyright-notice">
          <%= locale.t['Axios Project Copy Right Footer'] || 'The Axios Project: Copyright © 2014-present Matt Zabriskie and contributors' %>
        </span>
        <span>
          <%= locale.t['License Label Footer'] || 'Licensed under the' %>
            <b><a href="https://opensource.org/licenses/MIT" target="_blank">MIT License</a></b>
        </span>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
      function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
      }
      const options = {
        strings: [`<span class="p">import</span> <span>axios</span> <span class="p">from</span> <span class="s">"axios"</span><span><%= ';' %></span><br/><span>axios.</span><span class="p">get</span><span>(</span><span class="s">'/users'</span><span>)</span><br/>  <span class="p">.then</span><span>(</span><span class="s i">res</span><span class="p"> => </span><span>{</span><br/>    <span>console.</span><span class="p">log</span><span>(</span><span class="s i">res</span><span>.data</span><span>)<%= ';' %></span><br/>  <span>})<%= ';' %></span>`],
        typeSpeed: 40,
        onComplete: async () => {
          await sleep(3000)
          document.querySelector('.typed-cursor').remove()
        },
      };

      const typed = new Typed('.code-preview pre', options);
    </script>

    <script>
      const splide = new Splide( '.splide', {
        //type   : 'slide',
        type   : 'loop',
        drag   : 'free',
        focus  : 'left',
        perPage: 5,
        snap   : true,
        autoWidth: true,
        pagination: false,
        autoScroll: {
          speed: 0.7,
          autoStart: false
        }
      });

      document.addEventListener('DOMContentLoaded', () => {
        setTimeout(() => {
          splide.Components.AutoScroll.play();
        }, 5000);
      });

      splide.mount(window.splide.Extensions);

      let timer;

      const stop = () => {
        if( timer ) {
          clearTimeout(timer);
          timer = null;
        }
      }

      tippy('.sponsor-card, .tip', {
        trigger: 'mouseenter focus focusin oncontextmenu',
        delay: [500, 500],
        animation: 'fade',
        allowHTML: true,
        hideOnClick: true,
        interactive: true,
        maxWidth: '470px',
        appendTo: () => document.body,
        onShow(instance) {
          if (instance.props.content.trim() === '') {
            return false;
          }

          splide.Components.AutoScroll.pause();
        },

        onHide() {
          stop();

          timer = setTimeout(() => {
            splide.Components.AutoScroll.play();
          }, 5000);
        }
      });
    </script>
  </body>
</html>
