{{#if sponsors}}
  <h3 align="center">
    {{caption}}
    <br>
  </h3>

  {{#table sponsors cells separate fill}}
    {{#if this}}
      {{#if displayName}}
        {{#if image}}
        <a href="{{targetLink}}" style="padding: 10px; display: inline-block">
            {{#if image_dark}}
              <picture>
              <source width="{{readmeImageWidth}}px" height="{{readmeImageHeight}}px" media="(prefers-color-scheme: dark)" srcset="{{image_dark}}">
              <img width="{{readmeImageWidth}}px"  height="{{readmeImageHeight}}px" src="{{image}}" alt="{{displayName}}"/>
              </picture>
            {{else}}
              <img width="{{readmeImageWidth}}px" height="{{readmeImageHeight}}px" src="{{image}}" alt="{{displayName}}"/>
            {{/if}}
        </a>
        {{else}}
          <h3>{{displayName}}</h3>
        {{/if}}
        {{#if description}}<p align="center" title="{{description}}">{{#short benefits.maxReadmeDescLength}}{{description}}{{/short}}</p>{{else}}{{#if showCaptions}}<p align="center">{{displayName}}</p>{{/if}}{{/if}}
        {{#if links}}<p align="center">
          {{#each links}}<a href="{{this}}"><b>{{#short 40}}{{@key}}{{/short}}</b></a>{{#sep}} | {{/sep}}{{/each}}
        </p>{{/if}}
      {{else}}
        - {{displayName}}
      {{/if}}
    {{else}}
      <a href="https://opencollective.com/axios/contribute">💜 Become a sponsor</a>
    {{/if}}
  {{/table}}
{{/if}}
